*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
body {
    color: white;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.789);
    text-align: center;
}
.content {
    background:linear-gradient(to right, #4facfe, #00f2fe);
    text-align: center;
    height: 500px;
    padding: 400px;
}
button {
    padding: 5px;
    background-color: white;
    color: black;
    border-style: none; 
}
footer {
   background-color: rgba(0, 0, 0, 0.789);
   text-align: center;  
}